$color-bg: #fff;
$color-text: #999;
$color-header: #74c7d5;
$color-link: #228Ca8;

$color-grey:       #f5f2f0;             // not really grey, but whatever.
$color-light-grey: $color-grey;
$color-dark-grey:  darken($color-grey, 40%);

@mixin header() {
    color: $color-header;
    margin-top:20px;
    margin-bottom:10px;
}

@page {
  size: A4;
  margin: 15mm;
}

body,p,dl,li,h1,h2,h3,h4,h5,h6 {
    font-family: Lato, sans-serif;
}

.screen-only {
    display:none;
}


body {
    background-color: $color-bg;
    color:$color-text;
}

@for $i from 1 through 6 {
    .h#{$i}, h#{$i} {
        @include header();
    }
}

h1 {
    font-size:30px;
    line-height:30px;
    font-weight:300;
    text-transform:uppercase;
    letter-spacing:0.02em;
}


h2 {
    font-size:21px;
    line-height:24px;
    font-weight:bold;
    text-transform:uppercase;
}

p {
    font-size:18px;
    line-height:24px;
    font-weight:300;
    letter-spacing:0.01em;
    margin-bottom:20px;
}

a, a:hover, a:focus {
    outline:none !important;
    text-decoration:none;
    color: $color-link;
}

ul {
    font-size:18px;
    font-weight:300;
    font-family:Lato;
    list-style-type: square;
}

header,footer {
    padding:0;
    margin:0;
    margin:2em 0;
}

header>h1 {
    font-size:300%;
    line-height:110%;
}

footer {
    text-align:center;
}

footer>.row>div {
    padding:5px;
}


dt {
    font-weight:700;
    line-height: 1.4;
}

dd {
    margin-left:0;
    line-height:1.4;
}

.text-center {
    text-align:center;
}

.nowrap {
    white-space:nowrap;
}


table:not(.plain) {
    border-collapse: collapse;
    box-sizing: border-box;
    margin-bottom:2em;
    width: 100%;
    border:1px solid $color-dark-grey;

    thead {
        background-color: $color-dark-grey;
        color: #fff;
    }

    tbody>tr:nth-child(odd) {
        background-color:$color-light-grey;
    }

    th,td {
        padding: .3rem 0.5rem;
        white-space: nowrap;
    }
}
